<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087009820881-hkb3ih1d1bvauhkh1fnfq1rjk47ugibb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087009820881-hkb3ih1d1bvauhkh1fnfq1rjk47ugibb</string>
	<key>API_KEY</key>
	<string>AIzaSyBrCUokzPySE1bvoXgKJYRZ_HXKf5qmZuA</string>
	<key>GCM_SENDER_ID</key>
	<string>1087009820881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mascotas</string>
	<key>PROJECT_ID</key>
	<string>proyecto-88b51</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-88b51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087009820881:ios:e94a24681c4694ef3df5f0</string>
</dict>
</plist>